fermi_data
.windsurf
papers
test_plots
Totani_paper_check/sanity_plots
Totani_paper_check/totani_paper_check.egg-info
York_paper_check/fig2_3_4/plots_fig2_3_4
York_paper_check/fig6/plots_fig6
York_paper_check/fig6/plots_fig6/gif_plots
alternative_mediator_scan/scans
paper_check_helpers.egg-info
__pycache__
.DS_Store
Totani_paper_check/make_templates/debug_plots
Totani_paper_check/check_templates/plots_check_*
Totani_paper_check/fig*/plots_fig*
